<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>GIF 채팅방</title>
</head>

<body>
    <div>F12를 눌러 console 탭과 network 탭을 확인하세요.</div>
    <!-- 여기서 404 에러 뜨면 서버 연결이 제대로 안 된 것 -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect('http://localhost:8005', {
            path: '/socket.io',
            transports: ['websocket'],
        });
        socket.on('news', function (data) {
            console.log(data);
            socket.emit('reply', 'Hello Node.JS');
        });
    </script>
</body>